@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 100px;
}

html,body {
  height: 100%;
}

body > div {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
}

header {
  display: grid;
  column-gap: 40px;
  grid-area: header;
  z-index: 2000;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
}

main {
  display: grid;
  column-gap: 40px;
  grid-area: content;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
  padding-block: 140px 80px;
}

footer {
  display: grid;
  column-gap: 40px;
  grid-area: footer;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
}
