@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-hover {
    @apply transition-opacity duration-300 ease-out;
  }

  .fade-hover:hover {
    @apply opacity-6;
  }
}

:root {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 100px;
}

html,body {
  height: 100%;
}

body > div {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "content"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  width: 100%;
}

header + div {
  display: grid;
  column-gap: 40px;
  grid-area: breadcrumb;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
  padding-top: 120px;
}

header {
  display: grid;
  column-gap: 40px;
  grid-area: header;
  z-index: 2000;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
}

main {
  display: grid;
  column-gap: 40px;
  grid-area: content;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
  padding-block: 70px 80px;
}

footer {
  display: grid;
  column-gap: 40px;
  grid-area: footer;
  grid-template-columns: 1fr minmax(335px,1220px) 1fr;
}
